/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  }


body {
    align-items: center;
    margin:0 auto !important;
    background-color:#000 !important;
    color:white!important;
  }


